.skills {
    margin: 0 auto;
    max-width: 1140px;
    min-height: 300px;
}

.skills__subtitle {
    color: #FFFFFF;
}

.skills__text {
    margin: 25px 0 30px;
    min-width: 100px;
    height: 30px;
    
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}

.skills__stack {
    margin: 0 auto;
    padding: 0;
    display: flex;
    justify-content: flex-start;

    gap: 10px;
    color: #FFFFFF;
    list-style: none;
}

.skills__stack-item {
    min-width: 90px;
    height: 30px;
    display: flex;
    justify-content: center;
    
    font-size: 14px;
    line-height: 17px;

    align-items: center;
    background-color: #303030;
    color: #fff;
    border: none;
    border-radius: 20px;
}

@media (max-width: 1220px) {
    .skills {
        max-width: 1000px;
    }
}

@media (max-width: 1030px) {
    .skills {
        max-width: 800px;
    }
}

@media (max-width: 830px) {
    .skills {
        max-width: 700px;
        margin-bottom: 100px;
    }

    .skills__stack {
        flex-direction: column;
    }
    
    .skills__stack-item {
        min-width: 80px;
    }
}

@media (max-width: 768px) {
    .skills {
        max-width: 668px;
    }

    .skills__subtitle {
        max-width: 560px;
    }
    
    .skills__stack-item {
        min-width: 80px;
    }
}

@media (max-width: 720px) {
    .skills {
        max-width: 540px;
        margin-top: 60px;
    }
}

@media (max-width: 560px) {
    .skills {
        max-width: 320px;
    }

    .skills__subtitle {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .skills__text {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 340px) {
    .skills {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .skills__stack {
        max-width: 100px;
    }
}