.particles {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: -2;
    overflow: hidden;
}

#particles__stars {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #0A192F;
}

#particles__circles {
    position: absolute;
    width: 100%;
    height: 100%;
}

.shooting-star {
    position: absolute;
    width: 2px;
    height: 2px;
    background: linear-gradient(-45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    border-radius: 50%;
    filter: drop-shadow(0 0 6px rgba(255, 255, 255, 0.8));
    animation: shooting 2s linear infinite;
    z-index: -1;
}

@keyframes shooting {
  0% {
    transform: translate(0, 0);
    opacity: 1;
  }
  100% {
    transform: translate(100vw, 100vh);
    opacity: 0;
  }
}

.animation-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: -1;
}