.aboutMe {
    margin: 100px auto 0;
    max-width: 1140px;
    min-height: 500px;
}

.aboutMe__container {
    display: flex;
    justify-content: space-between;
}

.aboutMe__block {
    max-width: 600px;
    min-height: 300px;
    text-align: left;
    color: #fff;
}

.aboutMe__title {
    margin: 0 auto;
    padding: 0 0 30px;
    max-width: 1140px;
    min-height: 27px;

    color: #FFFFFF;

    font-size: 80px;
    text-align: left;
    text-shadow: 
    2px 2px 0 #ff00ff,
    4px 4px 0 #00ffff,
    6px 6px 5px rgba(0,0,0,0.4);
}

.aboutMe__name {
    margin: 0;
    font-size: 26px;
    text-align: left;
    text-indent: 20px;
    color: #FFFFFF;

    text-shadow: 
    2px 2px 0 #ff00ff,
    4px 4px 0 #00ffff,
    6px 6px 5px rgba(0,0,0,0.4);
}

.aboutMe__info {
    max-width: 600px;
    min-height: 100px;

    text-align: left;
    color: #FFFFFF;
}

.aboutMe__info-text {
    min-height: 88px;
    margin: 30px auto 0;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    text-indent: 20px; 
}

.aboutMe__info-photo {
    max-width: 270px;
    width: 100%;
    height: 327px;
    margin-top: 30px;
    border-radius: 10px;
    object-fit: cover;
  }

@media (max-width: 1220px) {
    .aboutMe {
        max-width: 1000px;
    }

    .aboutMe__title {
        max-width: 1210px;
    }
}

@media (max-width: 1030px) {
    .aboutMe {
        max-width: 800px;
    }

    .aboutMe__title {
        max-width: 1020px;
    }

    .aboutMe__info {
        max-width: 400px;
    }
}

@media (max-width: 830px) {
    .aboutMe {
        max-width: 700px;
    }

    .aboutMe__title {
        padding-top: 60px;
        padding-bottom: 20px;
        max-width: 820px;
    
        font-size: 90px;
    }

    .aboutMe__info {
        max-width: 300px;
    }
}

@media (max-width: 768px) {
    .aboutMe {
        max-width: 668px;
    }
    
    .aboutMe__title {
        max-width: 758px;
    }
    
    .aboutMe__info {
        max-width: 250px;
    }
    
    .aboutMe__info-text {
        margin-top: 20px;
        min-height: 88px;
        font-size: 12px;
        line-height: 18px;
    }
    
    .aboutMe__info-photo {
        max-width: 255px;
        height: 307px;
      }
}

@media (max-width: 720px) {
    .aboutMe {
        max-width: 540px;
    }

    .aboutMe__title {
        max-width: 710px;
        padding-top: 60px;
        font-size: 70px;
    }

    .aboutMe__container {
        display: grid;
        justify-content: center;
    }
    
    .aboutMe__info {
        max-width: 540px;
        min-height: 301px;
        grid-row: 2;
    }
    
    .aboutMe__info-text {
        min-height: 60px;
        font-size: 14px;
        line-height: 18px;
    }

    .aboutMe__info-photo {
        margin-top: 40px;
        max-width: 540px;
        height: 352px;
        grid-row: 3;
      }
}

@media (max-width: 560px) {
    .aboutMe {
        max-width: 320px;
    }
    
    .aboutMe__title {
        max-width: 292px;
        font-size: 50px;
    }
 
    .aboutMe__info {
        max-width: 292px;
    }

    .aboutMe__info-photo {
        max-width: 292px;
        object-fit: cover;
      }
}

@media (max-width: 320px) {
    .aboutMe__title {
        font-size: 40px;
    }
}