.aboutMe {
    margin: 100px auto 0;
    max-width: 1140px;
    min-height: 500px;
}

.aboutMe__container {
    display: flex;
    justify-content: space-between;
}

.aboutMe__block {
    max-width: 600px;
    min-height: 300px;
    text-align: left;
    color: #fff;
}

.aboutMe__title {
    margin: 0 auto;
    padding: 0 0 70px;
    max-width: 600px;
    min-height: 27px;

    color: #FFFFFF;

    font-size: 80px;
    text-align: left;
    text-shadow: 
    2px 2px 0 #ff00ff,
    4px 4px 0 #00ffff,
    6px 6px 5px rgba(0,0,0,0.4);
}

.aboutMe__name {
    margin: 0;
    font-size: 26px;
    text-align: left;
    text-indent: 20px;
    color: #FFFFFF;

    text-shadow: 
    2px 2px 0 #ff00ff,
    4px 4px 0 #00ffff,
    6px 6px 5px rgba(0,0,0,0.4);
}

.aboutMe__info {
    margin: 0 auto;
    max-width: 600px;
    min-height: 100px;

    text-align: left;
    color: #FFFFFF;
}

.aboutMe__info-text {
    min-height: 88px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    text-align: justify;
    text-indent: 25px; 
}

.aboutMe__photo {
    overflow: hidden;
    border-radius: 10px;
}

.aboutMe__photo-img {
    max-width: 270px;
    width: 100%;
    max-height: 500px;
    object-fit: cover;
  }

@media (max-width: 1220px) {
    .aboutMe {
        max-width: 1000px;
    }
}

@media (max-width: 1030px) {
    .aboutMe {
        max-width: 800px;
    }

    .aboutMe__info {
        max-width: 500px;
    }
}

@media (max-width: 830px) {
    .aboutMe {
        max-width: 700px;
        min-height: 400px;
    }

    .aboutMe__title {
        max-width: 400px;
        padding-bottom: 50px;
        font-size: 60px;
    }

    .aboutMe__info {
        max-width: 380px;
    }

    .aboutMe__info-text {
    line-height: 24px;
    text-indent: 20px; 
}

    .aboutMe__photo-img {
        max-width: 255px;
        max-height: 300px;
        object-fit: contain;
    }
}

@media (max-width: 768px) {
    .aboutMe {
        max-width: 668px;
    }
    
    .aboutMe__info {
        max-width: 380px;
    }
}

@media (max-width: 720px) {
    .aboutMe {
        max-width: 540px;
        margin-top: 0;
    }

    .aboutMe__title {
        padding-top: 60px;
        text-align: center; 
    }

    .aboutMe__container {
        display: grid;
        justify-content: center;
    }
    
    .aboutMe__info {
        max-width: 540px;
        min-height: 100px;
        grid-row: 2;
    }
    
    .aboutMe__info-text {
        min-height: 60px;
        font-size: 14px;
        line-height: 18px;
    }

    .aboutMe__photo {
        margin: 0 auto;
        display: flex;
        overflow: hidden;
        border-radius: 10px;
    }

    .aboutMe__photo-img {
        max-width: 400px;
        height: 250px;
        grid-row: 3;
    }
}

@media (max-width: 560px) {
    .aboutMe {
        max-width: 320px;
    }
    
    .aboutMe__title {
        font-size: 50px;
    }
 
    .aboutMe__info {
        max-width: 320px;
    }

@media (max-width: 340px) {
    .aboutMe__info {
        max-width: 250px;
    }

    .aboutMe__title {
        padding-top: 20px;
        font-size: 40px;
    }

    .aboutMe__info-text {
        margin: 0 auto;
        font-size: 12px;
        line-height: 16px;
    }
}
}